<div class="content">
    <div class="name">
        <h1 class ="hvr-forward">Tyler</h1>
        <br>
        <h1 class ="hvr-forward gabriel">Gabriel</h1>
    </div>
    
    <h4>Computer Science student at Binghamton University</h4>

    <h4>Based in Syracuse, New York</h4>
    
    <h4>Check out my <a href="../assets/TylerGabriel.pdf" target="_blank">resume</a> and my <a href="https://www.linkedin.com/in/tyler-gabriel-753b2a14a/" target="_blank">LinkedIn</a></h4>
    
    <h4>Click <a href="mailto:tgabrie2@binghamton.edu" target="_blank">here</a> to shoot me an email</h4>
    
    <h4>Find some of my projects <a href="https://github.com/tylrg" target="_blank">here</a></h4>
</div>

